menuconfig LED_SUBSYSTEM
    bool "LED Subsystem"
    default y
    help
      this is top level led subsystem

if LED_SUBSYSTEM

choice LED_BLINK_SLEEP_TIME
    prompt "LED blink sleep time"
    default LED_BLINK_SLEEP_TIME_1000

config LED_BLINK_SLEEP_TIME_250
    bool "250 ms (fast)"
config LED_BLINK_SLEEP_TIME_1000
    bool "1s (meduim)"
config LED_BLINK_SLEEP_TIME_3000
    bool "3 s (slow)"

endchoice

# the hiddenm symbole, (value slected from choice)
config LED_BLINK_SLEEP_MS
    int
    default 250  if LED_BLINK_SLEEP_TIME_250
    default 1000  if LED_BLINK_SLEEP_TIME_1000
    default 3000 if LED_BLINK_SLEEP_TIME_3000

menuconfig LED_ADVANCED_SETTINGS
    bool "Advanced LED settings"
    default n
    help
      advanced LED configuration options

if LED_ADVANCED_SETTINGS

config LED_BRIGHTNESS
    int "LED brightness (0-100)"
    range 0 100
    default 100
    help
      Set the LED brightness

config LED_FADE_DURATION
    int "LED fade duration (ms)"
    range 0 2000
    default 500
    help
      Duration of LED fadeness.

menu "Expert settings"
    visible if LED_ADVANCED_SETTINGS

config LED_DEBUG
    bool "Enable LED debugging"
    default n

config LED_CUSTOM_PATTERN
    bool "Custom blink pattern"
    default n

endmenu # Expert settings

endif # LED_ADVANCED_SETTINGS
endif # LED_SUBSYSTEM


source "Kconfig.zephyr"